:root {
  --red: #de1a1a;
  --black: #000000;
  --light-color: #555;
  --green: #0b3f0b;

  --light-gray: #CCCCCC;
  --black1: #1b1b1b;
  --white: #FFFFFF;

  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  --border: 2rem solid rgba(0, 0, 0, .1);
  --outline: 1rem solid rgba(0, 0, 0, .1);
  --outline-hover: 2rem solid var(--black);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #79d575;
}

.container {
  padding: 25px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  max-width: 700px;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--black);
}

h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-transform: uppercase;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border: 1px solid #1c8b4a;
}

#orderSummary {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid var(--light-gray);
  background-color: #f9f9f9;
  border-radius: 4px;
}

#orderSummary p {
  margin: 0 0 10px;
}

#orderSummary p:last-child {
  font-weight: bold;
  margin-top: 15px;
  border-top: 1px solid var(--light-gray);
  padding-top: 10px;
}

button[type="button"],
.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: var(--green);
  color: var(--white);
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

button[type="button"]:hover,
.container form .submit-btn:hover {
  background: #0fa54e;
}

@media (max-width: 768px) {
  .container {
      padding: 15px;
  }
}
